<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>This app needs access to your calendar to add extracted events from images.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to select images containing event details.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to your camera to capture images containing event details.</string>
</dict>
</plist>
